.multi_switch {

  .v-slider-track__background {
    box-shadow: 0 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, .2)), 0 1px 1px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .14)), 0 1px 3px 0 var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, .12));
  }

  .v-slider-thumb__label {
    color: rgb(var(--v-theme-on-surface-light));
    background: transparent;
    bottom: inherit !important;
    border-radius: 50%;
    overflow: hidden;
    &::before {
      color: transparent;
      padding: 0;
    }
  }
}
